<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @comment.content %>
</p>

<%= link_to 'Edit', edit_project_comment_path(@project, @comment) %> |
<%= link_to 'Back', project_comments_path(@project) %>
