<div class="background-image"> 
</div>
<%= link_to '<span>Ver usuarios</span><i class="ion-android-arrow-forward"></i>'.html_safe, users_path, :class => "ver-usuarios welcome-btn snip1099" %>
<%= link_to '<span>Ver proyectos</span><i class="ion-android-arrow-forward"></i>'.html_safe, projects_path, :class => "ver-proyectos welcome-btn snip1099" %>
<%= link_to '<span>Iniciar Sesión</span><i class="ion-android-arrow-forward"></i>'.html_safe, new_user_session_path, :class => "iniciar-sesion welcome-btn snip1099" %>

