<% @project_photos.each do |pp| %>
  <div class= "photo" >
    <%= image_tag image_path(pp.photo), size: "256x256", alt: "Imagen no disponible", class: "img-circle img-responsive" %>
    <div class="desc">
      <%= pp.description %>
    </div>
  </div>
<% end %>