
<%= render 'form' %>

<div class="row">
    <div class="col-sm-4 btn-container">
    </div>
    <div class="col-sm-4 btn-container">
<%= link_to 'Ver proyecto', @project, :class =>'btn btn-primary btn-ver-proyecto-edit' %>
<%= link_to 'Lista proyectos', projects_path, :class => 'btn btn-primary btn-lista-proyectos-edit' %>
    </div>
</div>
