    <div class="row">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-10 project-title">
        <h1>Ranking de proyectos</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-10">
    <%= render partial: "project" %>
        </div>
    </div>
