// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  width: 100%;
  height: auto;
  margin-bottom: 12px;
} 

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
}

.avatar{
  position:absolute;
  right:0;
  max-width: 256px;
}


input[type=file]{
  margin: 0 auto;
  background-color: #F8F8F8;
  border: none;
  padding: 16px 32px;
  text-decoration: none;
}

.actions{
  padding: 10px 10px;
}

div.new_photo{
  margin: 0 auto;
  width: 60%;
  background-color: #F8F8F8;
  border: none;
  text-decoration: none;
}

div.new_photo .text-area{
  height: 40px;

}



div.photo {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.photo:hover {
    border: 1px solid #777;
}

div.photo photo {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}




.front-page-btn {
    min-width:80px;
}

.submit-star {
    background-color:#fff;
    border:none;
    display:inline-block;
    padding:0px;
    outline:none;
}

.panel {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 20px;
  width: 500px;
}

.panel .field{
  margin-bottom: 20px;
}

.panel .text-area {
  width: 80%;
  height: 140px;
  max-width: 80%;
  max-height: 200px;
}

.category-dropdown {
  background: #fff;
}


@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
  }
  .sidebar-nav .navbar ul:not {
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }

$yes : #4ab79a;
$no : #EE5E91;
$star : #ffcc00;
$edit : #f0ad4e;
$comment : #4ab79a;
.footer {
    margin-bottom:30px;
}


.edit {
    color:$edit;
}
.vote {
    font-size:50px;
    text-shadow: 3px 3px #000;
    &:active {
        -ms-transform: translate(2px,2px); /* IE 9 */
        -webkit-transform: translate(2px,2px); /* Safari */
        transform: translate(2px,2px);
        text-shadow: 1px 1px #000;
    }
}
.star-inactive {
    color:#000;
}
.star-active {
    color:$star;
}
.starvote {
    &:hover {
        color:$star;
    }
    font-size:30px;
    &:active {
    }
}
.vote.negative {
    color:$comment;
    &:hover {
        color:darken($comment,10%);
    }
}
.votes {
    height:140px;
    margin-top:20px;
}

/* FOR COMMENT BOX */
.status-upload {
    background: none repeat scroll 0 0 #f5f5f5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    float: left;
    width: 100%;
}
.status-upload form {
    float: left;
    width: 100%;
}
.status-upload form textarea {
    background: none repeat scroll 0 0 #fff;
    border: medium none;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -ms-border-radius: 4px 4px 0 0;
    -o-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    color: #777777;
    float: left;
    font-family: Lato;
    font-size: 14px;
    height: 100px;
    letter-spacing: 0.3px;
    padding: 20px;
    width: 100%;
    resize:vertical;
    outline:none;
    border: 1px solid #F2F2F2;
}
.status-upload .form-submit {
    float: right;
}
.user_name{
    font-size:14px;
    font-weight: bold;
}
.comments-list .media{
    border-bottom: 1px dotted #ccc;
}
}


