// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.submit-star {
    background-color:#fff;
    border:none;
    display:inline-block;
    padding:0px;
}

.panel {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 20px;
  width: 500px;
}

.panel .field{
  margin-bottom: 20px;
}

.panel .text-area {
  width: 80%;
  height: 140px;
  max-width: 80%;
  max-height: 200px;
}

.category-dropdown {
  background: #fff;
}

@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
  }
  .sidebar-nav .navbar ul:not {
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }

$yes : #4ab79a;
$no : #EE5E91;
$star : #ffcc00;
$edit : #337ab7;
.footer {
    margin-bottom:30px;
}


.edit {
    color:$edit;
    text-decoration:none !important;
}
.vote {
    font-size:50px;
    text-shadow: 3px 3px #000;
    &:active {
        -ms-transform: translate(2px,2px); /* IE 9 */
        -webkit-transform: translate(2px,2px); /* Safari */
        transform: translate(2px,2px);
        text-shadow: 1px 1px #000;
    }
}
.star-inactive {
    color:#000;
}
.star-active {
    color:$star;
}
.starvote {
    &:hover {
        color:$star;
    }
    font-size:30px;
    &:active {
    }
}
.vote.negative {
    color:$no;
    &:hover {
        color:darken($no,10%);
    }
}
.votes {
    height:140px;
    margin-top:20px;
}

/* FOR COMMENT BOX */
.status-upload {
    background: none repeat scroll 0 0 #f5f5f5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    float: left;
    width: 100%;
}
.status-upload form {
    float: left;
    width: 100%;
}
.status-upload form textarea {
    background: none repeat scroll 0 0 #fff;
    border: medium none;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -ms-border-radius: 4px 4px 0 0;
    -o-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    color: #777777;
    float: left;
    font-family: Lato;
    font-size: 14px;
    height: 100px;
    letter-spacing: 0.3px;
    padding: 20px;
    width: 100%;
    resize:vertical;
    outline:none;
    border: 1px solid #F2F2F2;
}
.status-upload .form-submit {
    float: right;
}
.user_name{
    font-size:14px;
    font-weight: bold;
}
.comments-list .media{
    border-bottom: 1px dotted #ccc;
}
}
